<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>

<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let city of cities">
                         <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{city.name}}
                          </mat-panel-title>
                          <mat-panel-description *ngIf="city.temperature">
                            <img [src] = "city.image">
                            Temperature in {{city.name}} is {{ city.temperature }}º and the humidity is {{city.humidity}} 
                           <!-- <img [src] = "image">-->
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <button mat-raised-button
                            (click)="getCityWeather(city)"
                            *ngIf="!city.temperature"
                            color = "primary">
                            Get data
                             </button>
                             <button mat-raised-button
                            (click)="predict(city)"
                            *ngIf="city.temperature && !city.result"
                            color = "primary">
                            Predict
                             </button>
                             <button mat-raised-button
                             *ngIf="city.result !== null"
                            (click)="save()"
                            color = "primary">
                            Save
                             </button>    
                           <!-- <button mat-raised-button
                             *ngIf="!city.temperature"
                            color = "primary">
                            Get new Data
                             </button> -->
                             <div>
                                {{city.result}}
                             </div>
                             
                      </mat-expansion-panel>
                    </mat-accordion>